#roomsSection
{
	margin-top: 3%;
}

#inhabitantsSection
{
	margin-top: 3%;
}

#eventsSection
{
	margin-top: 3%;
}

#inhabitantsScreen
{
	background-color: white;
}

#guestsScreen
{
	background-color: white;
}

.roomCard
{
	background-color: white;
}

.personalButton
{
  background-color: white;
  border: none;
}

#eventsScreen
{
	background-color: black;
}

.less
{
	box-shadow: inset 0px 0px 10px 9px rgba(255, 0, 0, 0.5);
}

.more
{
	box-shadow: inset 0px 0px 10px 9px rgba(0, 255, 0, 0.5);
}

#roomCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#roomCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}

#inhabitantCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#inhabitantCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}

#guestCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#guestCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}