{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/addGuest.css' %}" />
{% endblock %}

{% block content %}

<div id= "pageContent" class="row">
  <div class="col">

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="row">
          <h2>Ajout Invité</h2>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-1 col-md-2 col-lg-3"></div>
      <div class="col-10 col-md-8 col-lg-6">
        <div class="row screen">
          <div class="col">

            <div class="row firstNameSection section">
              <div class="col-5 label">
                Prenom:
              </div>
              <input type="text" id="firstName" name="firstName" value="" class="col-7"/>
            </div>

            <div class="row lastNameSection section">
              <div class="col-5 label">
                Nom:
              </div>
              <input type="text" id="lastName" name="lastName" value="" class="col-7"/>
            </div>

            <div class="row sexeSection section">
              <div class="col-5 label">
                 Sexe:
              </div>
              <select id="sexe" value="" class="col-7">
                <option value="f">Femme</option>
                <option value="m">Homme</option>
              </select>
            </div>

            <div class="row dateOfBirthSection section">
              <div class="col-5 label">
                 Date de naissance:
              </div>
              <input class="col-7" type="date" id="dateOfBirth" name="dateOfBirth" value="2001-01-01">
            </div>

          </div>
        </div>
      </div>
      <div class="col-1 col-md-2 col-lg-3"></div>
    </div>

    <div class="row buttonZone">
      <div class="col-2 col-md-3 col-lg-4"></div>
      <button class="col-8 col-md-6 col-lg-4 personalButton" onclick="add_guest();">Ajouter</button>
      <div class="col-2 col-md-3 col-lg-4"></div>
    </div>

  </div>
</div>

<div id="loadingScreen" style="display: none;">
  <div id='loader' class="loader"></div>
  <div class="row">
    <h2 class="text-center">Ajout en cours</h2>
  </div>
</div>

{% endblock %}

{% block jsScript %}
  <script src="{% static 'js/addGuest.js' %}"></script>
{% endblock %}add