{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profilListing.css' %}" />
{% endblock %}

{% block content %}
	<div id='pageContent' class="row">
		<div class="col">

			<div class="row">
				<div class="col-3"></div>
				<div class="col-6">
					<h2 class="text-center">Habitants</h2>
				</div>
				<div class="col-3"></div>
			</div>
			<div class="row">
				<div class="col-3"></div>
				<div id="inhabitantsScreen" class="col-6 row screen rounded container-fluid">
				</div>
				<div class="col-3"></div>
			</div>

			<div class="row" style="margin-top: 5%;">
				<div class="col-3"></div>
				<div class="col-6">
					<h2 class="text-center">invités</h2>
				</div>
				<div class="col-3"></div>
			</div>
			<div class="row">
				<div class="col-3"></div>
				<div id='guestsScreen' class="col-6 row screen rounded container-fluid">
					<div class="row"></div>
				</div>
				<div class="col-3"></div>
			</div>

		</div>
	</div>
{% endblock %}

{% block jsScript %}
	<script src="{% static 'js/listProfils.js' %}"></script>
  <script src="{% static 'js/profilListing.js' %}"></script>
{% endblock %}