{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/roomListing.css' %}" />
{% endblock %}

{% block content %}

  <div id="pageContent" class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div id="roomsScreen" class="row rounded screen container-fluid">

      </div>
    </div>
    <div class="col-3"></div>
  </div>

{% endblock %}


{% block jsScript %}
  <script src="{% static 'js/listRooms.js' %}"></script>
  <script src="{% static 'js/roomListing.js' %}"></script>
{% endblock %}
