#homeIdSection
{
	margin: auto;

	background-color: black;
	color: white;

	box-shadow: inset 0px 0px 10px 9px rgba(255, 0, 0, 0.5);
}

#networkStateSection
{
	margin: auto;

	background-color: black;
	color: white;

	box-shadow: inset 0px 0px 10px 9px rgba(255, 0, 0, 0.5);
}

#modulesSection
{
	padding-top: 6%;
	margin-bottom: 6%;
}

.screen
{
	background-color: white;
}

.personalButton
{
  background-color: white;
  border: none;
}

.less
{
	box-shadow: inset 0px 0px 10px 9px rgba(255, 0, 0, 0.5);
}

.more
{
	box-shadow: inset 0px 0px 10px 9px rgba(0, 255, 0, 0.5);
}

h1
{
	margin: auto;
}

h2
{
	margin: auto;
}

h3
{
	margin: auto;
}

#networkState
{
	margin: auto;
}

#homeId
{
	margin: auto;
}

.moduleCard
{
	border: none;
}


#moduleCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#moduleCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}